SUPABASE_URL=kvhsvrvjrtkyjnnkoxew
SUPABASE_KEY=sb_secret_ancYOKg1UATOaj5FnZV2Ew_7VvEXXu_
GOOGLE_API_KEY=AQ.Ab8RN6JFHFoMhMzmeHlcoEjWDZCkSnPUPvGcqTbbdAsYJfu_ZA

# LangSmith Trace & Evaluation Configuration
LANGCHAIN_TRACING_V2=false
LANGCHAIN_ENDPOINT="https://api.smith.langchain.com"
LANGCHAIN_API_KEY=""
LANGCHAIN_PROJECT="worldcup-predictor"